*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #543310;
    background: radial-gradient(
        circle,
        beige,
        #543310 30%,
        rgba(88, 84, 84, 0.226) 0%
      ),
      radial-gradient(
        circle at 40px 40px,
        beige,
        #543310 30%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 600px 200px,
        rgb(233, 228, 228),
        #543310 10%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 800px 100px,
        rgb(233, 228, 228),
        #543310 10%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 700px 500px,
        rgb(233, 228, 228),
        #543310 2%,
        rgba(88, 84, 84, 0.123) 0%
      ),
      radial-gradient(
        circle at 200px 400px,
        rgb(233, 228, 228),
        #543310 1%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 300px 700px,
        rgb(233, 228, 228),
        #543310 15%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 900px 500px,
        rgb(233, 228, 228),
        #543310 20%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 650px 400px,
        rgb(233, 228, 228),
        #AF8F6F 10%,
        rgba(88, 84, 84, 0) 0%
      ),
      radial-gradient(
        circle at 600px 600px,
        rgb(233, 228, 228),
        #AF8F6F 1%,
        #543310 0%
      );
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100svh;
    padding: 5rem 0;
}
.contents{
    --color: #AF8F6F;
  background-color: #AF8F6F;
    margin-top: 2rem;
    padding: 4rem 5rem;
    border-radius: 20px;
    width: 40%;
}
.main h1{
    text-align: center;
    color: #543310;
    padding-bottom: .5rem;
    font-size: 48px;
    font-family: "Ubuntu",sans-serif;
}
.main input{
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem .3rem 1rem 0;
    border-radius: 10px;
    border: none;
    width: 80%;
    background: #F8F4E1;
    color: #543310;
}
.add-btn{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background: #543310;
    color: #F8F4E1;
    border: solid 1px #F8F4E1;
    transition: all 0.3s;
    
}
.add-btn:hover, .del-btn:hover , .up-btn:hover, .down-btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
.input-n-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

ol{
    display: flex;
    flex-direction: column;
    padding: 1rem ;
    text-decoration: none;
}
li{
    padding: 1rem 1rem;
    background: #F8F4E1;
    margin: 0.5rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: Ubuntu, sans-serif;
    color: #543310;
    flex-wrap: wrap;
}
.del-btn{
    padding: .4rem;
    border-radius: 10px;
    border: none;
    place-self: center;
    margin: 0 .2rem;
    background: red;
    color: #F8F4E1;
    transition: all .3s;
}
.up-btn{
    padding: .4rem;
    border-radius: 10px;
    place-self: center;
    background: #543310;
    color: #F8F4E1;
    margin: 0 .2rem;
    border: none;
    transition: all .3s;
}
.up-btn img{
    height: 12px;
    width: 12px;
    color: #F8F4E1;
}
.down-btn{
    padding: .4rem;
    border-radius: 10px;
    place-self: center;
    background: #543310;
    color: #F8F4E1;
    margin: 0 .2rem;
    border: none;
    transition: all .3s;
}
.down-btn img{
    height: 12px;
    width: 12px;
    color: #F8F4E1;
}
